<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ADD Todo</title>
</head>
<body>
<ul>
    <li><a th:href="@{/}">Return to homepage</a></li>
</ul>
<h2>Add your todo here:</h2>
<table>
    <tr>
        <form th:action="@{/addN}" th:object="${Todo}" method="post">
            <p> Title: <input type="text" th:field="*{title}" /></p>
            <p>
                Urgent<input type="checkbox" th:field="*{isUrgent}" />
                Done<input type="checkbox" th:field="*{isDone}" /> </p>
            <p>
                Description: <input th:type="text" th:field="*{description}" />
            </p>
                DueDate: <input type="date" th:field="*{dueDate}"/></td>
                <input type="submit" value= " Add todo" />
                <input type="hidden" th:field="*{id}" />
            </p>
        </form>
    </tr>
</table>
</body>
</html>