<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <title>Todo List</title>
</head>
<body>
<div class="container" align="center">
    <h1>Todos:</h1>
</div>
<div class="container">
    <ul class="nav">
        <a class="nav-item" th:href="@{'/addT'}">Add Todo</a>
    </ul>
</div>
<div class="container-fluid">
    <table class="table-striped table-hover">
        <thead class="thead-dark">
        <th style="width: 5%">ID</th>
        <th style="width: 65%">Title</th>
        <th style="width: 5%">Urgent</th>
        <th style="width: 5%">Done</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
        </thead>
        <tr th:each="Todo, iterNum : ${Todos}">
            <th th:text="*{iterNum.count}">ID</th>
            <th th:text="*{Todo.title}" th:style="${Todo.isDone} ?  'color : green' : 'color : black'">Title</th>
            <th th:text="*{Todo.isUrgent}">isUrgent</th>
            <th th:text="*{Todo.isDone}" >isDone</th>
            <th>
                <a th:href="@{'/{id}/edit'(id=${Todo.id})}">
                    <button class="btn btn-danger btn-sm" >Edit</button>
                </a>
            </th>
            <th>
                <a th:href="@{'/{id}/delete'(id=${Todo.id})}">
                    <button class="btn btn-primary btn-sm" >Delete</button>
                </a>
            </th>
        </tr>

    </table>
</div>
<!--<form th:action="@{/add}" th:object="${Todo}" method="post">-->
    <!--<p> <input type="text" th:field="*{title}" />-->
        <!--Urgent<input type="checkbox" th:field="*{isUrgent}" />-->
        <!--Done<input type="checkbox" th:field="*{isDone}" />-->
        <!--<input type="submit" value="Add todo" />-->
    <!--</p>-->
<!--</form>-->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>